<!doctype html>
<html lang="Default">

<head>
	<meta charset="utf-8">
	<meta name="keywords" content="création site web, agence web design, Lyon, refonte, identité visuelle">
	<meta name="description"
		content="La Chouette Agence, entreprise de Web Design basée à Lyon, conception et refonte de sites Web.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="shortcut icon" type="image/png" href="favicon.png">

	<title>La Chouette Agence - Entreprise de Web Design - Lyon</title>
</head>

<body>
	<!-- Principal conteneur -->
	<div class="page-container">
		<header>
			<!-- bloc-0 -->
			<div class="bloc bgc-white l-bloc" id="bloc-0">
				<div class="container bloc-sm">
					<nav class="navbar row">
						<div class="navbar-header">
							<a class="navbar-brand" href="index.html">
								<img src="<%=require('../images/la-chouette-agence.png')%>"
									alt="bannière la chouette agence" height="40" width="214">
							</a>
							<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle"
								data-toggle="collapse" data-target=".navbar-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="collapse navbar-collapse navbar-1 special-dropdown-nav">
							<ul class="site-navigation nav navbar-nav">
								<li>
									<a href="#services">Nos Services</a>
								</li>
								<li>
									<a href="#strategie">Notre Stratégie</a>
								</li>
								<li>
									<a href="#realisations">Nos Réalisations</a>
								</li>
								<li>
									<a href="#contact">Contact</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- bloc-0 END -->

			<!-- bloc-1-presentation -->
			<div class="bloc bgc-dark-slate-blue bg-banniere d-bloc bg-t-edge bloc-bg-texture texture-paper b-parallax"
				id="bloc-1-hero">
				<div class="black-overlay"></div>
				<div class="container bloc-lg">
					<div class="row tight-width-whitespace">
						<div class="col-sm-12">
							<img src="<%=require('../images/logo.png')%>" class="center-block image-resize-mode"
								width="100" height="100" alt="logo la chouette agence">
							<h1 class="text-center hero-bloc-text tc-white">
								La chouette agence.
							</h1>
							<div class="text-center">
								<a href="#contact" class="btn btn-lg btn-clean btn-rd cta-hero btn-atomic-tangerine"
									id="cta-hero">
									Contact
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- bloc-1-presentation END -->
		</header>
		<main>
			<!-- bloc-2-services -->
			<article class="bloc bgc-white l-bloc" id="services">
				<div class="container bloc-md">
					<header class="row">
						<div class="col-sm-12 text-center">
							<h2>La chouette agence est une agence de web design qui aide les entreprises à devenir
								attractives et visibles sur Internet</h2>
						</div>
					</header>
					<div class="row voffset-lg med-width-whitespace">
						<div class="col-sm-4">
							<div class="text-center">
								<span class="sm-shadow icon-dark-slate-blue icons icon-lg">
									<%= require('et-line/images/svg/individual_icons/browser.svg').default %>
								</span>
							</div>
							<h3 class="mg-md text-center">Web design</h3>
							<p class="text-center">
								Que vous ayez un site web qui a besoin d'un
								rafraîchissement ou que vous partiez de zéro, laissez-nous vous
								réaliser un design dont vous serez fier.
							</p>
						</div>
						<div class="col-sm-4">
							<div class="text-center">
								<span class="sm-shadow icon-dark-slate-blue icons icon-lg">
									<%= require('et-line/images/svg/individual_icons/presentation.svg').default %>
								</span>
							</div>
							<h3 class="mg-md text-center">&nbsp;Stratégie</h3>
							<p class="text-center">
								Plutôt que de suggérer des designs à la mode, nous travaillerons
								avec vous pour comprendre vos objectifs commerciaux afin de vous
								proposer le meilleur design possible.
							</p>
						</div>
						<div class="col-sm-4">
							<div class="text-center">
								<span class="sm-shadow icon-dark-slate-blue icons icon-lg">
									<%= require('et-line/images/svg/individual_icons/edit.svg').default %>
								</span>
							</div>
							<h3 class="mg-md text-center">Illustrations</h3>
							<p class="text-center">
								Un bon design n'est rien sans de bonnes illustrations. Laissez
								faire notre équipe de graphistes talentueux pour donner à vos
								pages une touche finale d'élégance.
							</p>
						</div>
					</div>
					<div class="row voffset-lg voffset">
						<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
							<blockquote>
								<p><em>La chouette agence</em> est une excellente <em>agence web</em> ! Les web
									designers
									ont réussi
									à capturer l'essence de notre entreprise et à l'intégrer à notre site. Cela nous a
									aidé
									à
									doubler nos ventes en ligne à Lyon.</p>
								<footer>Maxime Guilbard, PDG de <cite>A vos fourchettes</cite>
								</footer>
							</blockquote>
						</div>
					</div>
				</div>
			</article>
			<!-- bloc-2-services END -->

			<!-- bloc-3-what-i-do -->
			<section
				class="bloc tc-white bgc-atomic-tangerine bg-presentation d-bloc bloc-bg-texture texture-paper b-parallax lazyload"
				id="strategie"
				data-bgset="<%= require('../images/image-de-presentation.jpg?commonjs&width=480') %> [(max-width: 767px)] | <%= require('../images/image-de-presentation.jpg?commonjs&width=768') %> [(max-width: 991px)] | <%= require('../images/image-de-presentation.jpg?commonjs&width=992') %> [(max-width: 1199px)] | <%= require('../images/image-de-presentation.jpg?commonjs&width=1200') %> [(max-width: 1919px)] | <%= require('../images/image-de-presentation.jpg?commonjs&width=1') %> [(min-width: 1920px)]"
				data-sizes="auto">
				<div class="black-overlay"></div>
				<div class="container bloc-lg">
					<div class="row tight-width-whitespace black-background">
						<div class="col-sm-12 text-center">
							<h2 class="mg-md text-center tc-white">
								Nous souhaitons aider les entreprises de la région Lyonnaise à
								se développer et à connaître le succès. Nous travaillons pour
								aider les entreprises locales à attirer de nouveaux clients .
							</h2>
							<p class="text-center white">
								Nous aimons collaborer avec des entrepreneurs créatifs et des
								entreprises locale, qu’elles aient besoin de créer un site de A
								à Z ou de donner un coup de jeune à leur site. Que vous ayez
								besoin d’une identité visuelle complète ou d’une refonte de
								votre site, n’hésitez pas à nous contacter. Nous travaillerons
								ensemble pour créer des sites beau et bien structurés, qui
								seront facilement trouvable sur les moteurs de recherche.
							</p>
							<a class="ltc-white bold-link" href="#contact">Contactez notre équipe</a>
						</div>
					</div>
				</div>
			</section>
			<!-- bloc-3-what-i-do END -->

			<!-- bloc-4-portfolio -->
			<article class="bloc bgc-white bg-lines-h2-bg bg-repeat l-bloc" id="realisations">
				<div class="container bloc-lg">
					<header class="row">
						<div class="col-sm-12 text-center">
							<h2>Nous travaillons avec beaucoup de clients,<br>voici nos réalisations</h2>
						</div>
					</header>
					<div class="row tight-width-whitespace portfolio-row">
						<div class="col-sm-6">
							<a href="#" data-lightbox="<%= require('../images/1.jpg?commonjs') %>"
								data-gallery-id="gallery-1" data-caption="Refonte d'un site web pour un journal local"
								data-frame="snapshot-lb">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="<%= require('../images/1.jpg?commonjs&width=480') %>" alt="journaux"
									class="img-responsive portfolio-thumb lazyload" width="270" height="270">
							</a>
							<h3 class="mg-md text-center">
								Refonte d'un site web pour un journal local
							</h3>
							<p class="text-center">
								Nous avons créé une nouvelle identité visuelle pour un journal
								lyonnais.
							</p>
						</div>
						<div class="col-sm-6">
							<a href="#" data-lightbox="<%= require('../images/2.jpg?commonjs') %>"
								data-gallery-id="gallery-1" data-caption="Création d'un site web pour photographes"
								data-frame="snapshot-lb">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="<%= require('../images/2.jpg?commonjs&width=480') %>"
									class="img-responsive portfolio-thumb lazyload" alt="photographe" width="270"
									height="270">
							</a>
							<h3 class="mg-md text-center">
								Création d'un site web pour photographes
							</h3>
							<p class="text-center">
								Nous avons conçu la plateforme idéale pour laisser place aux
								clichés des photographes.
							</p>
						</div>
					</div>
					<div class="row tight-width-whitespace portfolio-row">
						<div class="col-sm-6">
							<a href="#" data-lightbox="<%= require('../images/3.jpg?commonjs') %>"
								data-gallery-id="gallery-1" data-caption="Création d'un site internet pour un voyageur"
								data-frame="snapshot-lb">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="<%= require('../images/3.jpg?commonjs&width=480') %>"
									class="img-responsive portfolio-thumb lazyload" alt="équipements voyageur"
									width="270" height="270">
							</a>
							<h3 class="mg-md text-center">
								Création d'un site internet pour un voyageur
							</h3>
							<p class="text-center">
								Nous avons élaboré un site internet et des illustrations pour
								sublimer les vidéos et les articles de ce voyageur.
							</p>
						</div>
						<div class="col-sm-6">
							<a href="#" data-lightbox="<%= require('../images/4.jpg?commonjs') %>"
								data-gallery-id="gallery-1"
								data-caption="Conception d'un site pour une agence de mariage" data-frame="snapshot-lb">
								<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-src="<%= require('../images/4.jpg?commonjs&width=480') %>"
									class="img-responsive portfolio-thumb lazyload" alt="agence de mariage" width="270"
									height="270">
							</a>
							<h3 class="mg-md text-center">
								Conception d'un site pour une agence de mariage
							</h3>
							<p class="text-center">
								Nous avons travaillé avec cette agence pour créer un site
								internet permettant la présentation détaillée de leurs
								prestations.
							</p>
						</div>
					</div>
				</div>
			</article>
			<!-- bloc-4-portfolio END -->

			<!-- bloc-5-contact -->
			<section class="bloc bgc-dark-slate-blue bg-banniere d-bloc bloc-bg-texture texture-paper" id="contact">
				<div class="container bloc-lg">
					<header class="row med-width-whitespace black-background">
						<div class="col-sm-12">
							<h2 class="text-center hero-bloc-text tc-white">
								Parlons web design !
							</h2>
							<p class="text-center mg-lg white tight-width-whitespace">
								Nous sommes ravis que vous souhaitiez collaborer avec notre agence. Parlez-nous de votre
								projet en complétant le formulaire ci-dessous.
							</p>
						</div>
					</header>
					<div class="row med-width-whitespace bloc bgc-white l-bloc" id="contact-form-wrapper">
						<div class="col-sm-6">
							<form id="form_1" novalidate data-success-msg="Your message has been sent."
								data-fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
								<div class="form-group">
									<label for="name">
										Nom
									</label>
									<input type="text" id="name" class="form-control" required />
								</div>
								<div class="form-group">
									<label for="email">
										Adresse email
									</label>
									<input id="email" class="form-control" type="email" required />
								</div>
								<div class="form-group">
									<label for="input_504">
										Comment nous avez-vous connu ?
									</label>
									<input class="form-control" required id="input_504" />
								</div>
								<div class="form-group">
									<label for="message">
										Brief de votre projet (Ajoutez autant de détails que nécessaire)
									</label>
									<textarea id="message" class="form-control" rows="4" cols="50" required></textarea>
								</div>
								<button class="bloc-button btn btn-lg btn-block cta-hero btn-atomic-tangerine"
									type="submit">
									Envoyer
								</button>
							</form>
						</div>
						<footer class="col-sm-6">
							<p>
							<address>
								<a href="mailto:contact@lachouetteagence.com">contact@lachouetteagence.com</a>
								<br>2 place Sathonay 69001 Lyon
								<br>Ouvert de 9h à 18h, du lundi au vendredi
								<br>
							</address>
							</p>
						</footer>
					</div>
				</div>
			</section>
			<!-- bloc-5-contact END -->
		</main>

		<!-- ScrollToTop Button -->
		<button class="bloc-button btn btn-d scrollToTop" aria-label="défiler vers le haut">
			<span class="fa fa-chevron-up">
				<%= require('@fortawesome/fontawesome-free/svgs/solid/chevron-up.svg').default %>
			</span>
		</button>
		<!-- ScrollToTop Button END-->

		<!-- Footer - bloc-6-footer -->
		<footer class="bloc bgc-atomic-tangerine d-bloc" id="bloc-6-footer">
			<div class="container bloc-xl">
				<div class="row">
					<div class="col-sm-12">
						<p class="text-center white">
							La chouette agence - Agence web basée à Lyon.
						</p>
						<div class="row social">
							<div class="col-sm-3">
								<div class="text-center">
									<a class="social" href="#" aria-label="Twitter">
										<span class="icon-md">
											<%= require('@fortawesome/fontawesome-free/svgs/brands/twitter.svg').default %>
										</span>
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="text-center">
									<a class="social" href="#" aria-label="Facebook">
										<span class="icon-md">
											<%= require('@fortawesome/fontawesome-free/svgs/brands/facebook-f.svg').default %>
										</span>
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="text-center">
									<a class="social" href="#" aria-label="Dribbble">
										<span class="icon-md">
											<%= require('@fortawesome/fontawesome-free/svgs/brands/dribbble.svg').default %>
										</span>
									</a>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="text-center">
									<a class="social" href="#" aria-label="Instagram">
										<span class="icon-md">
											<%= require('@fortawesome/fontawesome-free/svgs/brands/instagram.svg').default %>
										</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- Footer - bloc-6-footer END -->

	</div>
	<!-- Principal conteneur END -->

</body>

</html>
