@import './variables';
@import './bootstrap';
@import './style';

html {
    /* CSS custom property for the polyfill */
    --scroll-behavior: smooth;

    /* Normal CSS property for browsers with native support */
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    --scroll-behavior: auto;
    scroll-behavior: auto;
  }
}

address {
    color: #666;
}

#contact-form-wrapper {
    padding: 40px;
}

@media (max-width: 767px) {
    #contact .bloc-lg {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#bloc-6-footer p {
    color: #424242 !important;
}

.black-overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.medium-width-whitespace {
    max-width: 800px;
    margin: auto;
}

.bloc-xxl,
.bloc-xl,
.bloc-lg {
    padding: 40px 0;
}

.next-lightbox, .prev-lightbox, .close-lightbox {
    background-color: #000;
    color: #fff !important;
    opacity: .4;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    overflow: hidden;

    &:hover, &:focus  {
        color: #fff !important;
        transform: scale(1.1);
        opacity: .5;
    }

    &:focus {
        outline-color: #F3976C;
        outline-offset: unset;
    }

    svg {
        pointer-events: none;
    }
}
